<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalogo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="controllers/catalogo.js" type="text/javascript"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body id="body" ng-app="myApp" ng-controller="catalogoController">
  
  <div class="section-content">
    <h1 class="section-header"> <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Catálogo</span></h1>
  </div>
 
  <div>
    <input type="button" ng-click="getCatalogo()" value="Visualizar Catálogo"/>
  </div>
  
  
  <div ng-repeat="item in catalogo track by $index">
    
        <p> {{item.codigo}}  {{item.produto}}  {{item.data}} {{item.armazenamento}} {{item.categoria}} {{item.setor}} </p>
       
   </div>

 
   
   
   
</body>
</html>
